<body class="search-results">
    <div class="artists-box-container">


        {{!-- artists is an array, loop over it to display the name etc of each album: --}}
        {{#each artists}}
        <div class="artists-box">
            <img src="{{this.images.[0].url}}" alt="image of artist">
            <div class="artists-box-bottom">
                <h2>{{this.name}}</h2>
                <a class="btn-view-albums" href="/albums/someArtistIdGoesHere">View Albums</a>
            </div>
        </div>
        {{/each}}
    </div>


</body>