<body class="main">
    
<div class="search-form-container">

    <form action="/artist-search" method="GET" class="search-form">
        <input type="text" name="search" id="artist" placeholder="The Beatles">
        <button 
            class="btn-search-artist"
            type="submit">Search for an Artist</button>
    </form>
</div>

</body>