<body class="main">
    

<form action="/artist-search" method="GET">
    <input type="text" name="search" id="artist" placeholder="The Beatles">
    <button 
        class="btn-search-artist"
        type="submit">Search for an Artist</button>
</form>

</body>